@page "/callbacks"
@inject IJSRuntime jsRuntime

@code{

    [Parameter]
    public string Data { get; set; }


    private async Task ButtonClickHandlerAsync(MouseEventArgs args)
    {
        this.Data = null;
        var input = new Dictionary<string, object> { { "data", Guid.NewGuid() } };
        using (var handler = new DotNetInstanceCallbackHandler<string>(this.jsRuntime, "getDelayedData", input))
        {
            this.Data = await handler.GetResultAsync();
            this.StateHasChanged();
        }
    }
}
<button @onclick="this.ButtonClickHandlerAsync">Click to get data</button>
<p>
    Data: @this.Data
</p>