<div>
    <NavLink href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    |
    <NavLink href="RedirectToHome">
        Redirect
    </NavLink>
</div>
