@page "/builders"

<h1>Builders</h1>

@code {
    IComponentBuilder builder = new ComponentBuilder()
        .AddAttributes(new Dictionary<string, object> { { "title", "An inline div element" } })
        .AddClasses("d-inline-block", "border", "border-primary", "m-3", "p-3")
        .AddStyles(new Dictionary<string, string> { { "background-color", "#ccc" }, { "font-family", "Verdana" }, { "font-weight", "700" } })
        ;
}
<Div Builder="this.builder">Inline Div</Div>
